<div class="flex justify-center w-full">
  <nav class="py-6 mx-6 flex items-center justify-between max-w-4xl w-full">
    <div class="flex items-center">
      <i class="fas fa-map-marker-smile text-white text-3xl mr-2"></i>
      <h1 class="text-3xl font-bold" style="color: #fff;">
        {{ title }}
      </h1>
    </div>
    <div>
      <button routerLink="/home" routerLinkActive="active" class="h-10 w-10">
        <i class="fak fa-home-new text-white fa-lg"></i>
      </button>
      <button routerLink="/profile" routerLinkActive="active" class="h-10 w-10">
        <i class="fak fa-profile text-white fa-lg"></i>
      </button>
      <button routerLink="/login" routerLinkActive="active" class="h-10 w-10">
        <i class="fas fa-sign-in-alt text-white fa-lg"></i>
      </button>
    </div>
  </nav>
  <div></div>
</div>

<!-- 

      <button routerLink="/admin" routerLinkActive="active" class="h-10 w-10">
        <i class="fak fa-avatar text-white fa-lg"></i>
      </button>

-->
